[package]
name = "rapla-ical-proxy"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/satoqz/rapla-ical-proxy"

[dependencies]
axum = { version = "0.7.9", default-features = false, features = ["tokio", "http1", "http2", "json"] }
chrono = { version = "0.4.35", default-features = false, features = ["std", "now"] }
clap = { version = "4.5.21", features = ["derive", "env"] }
html-escape = "0.2.13"
ics = "0.5.8"
once_cell = "1.19.0"
quick_cache = "0.6.9"
reqwest = { version = "=0.12.4", default-features = false, features = ["rustls-tls-webpki-roots", "charset"] }
scraper = { version = "0.21.0", default-features = false }
sentry = { version = "0.34.0", optional = true, default-features = false, features = ["backtrace", "contexts", "panic", "rustls", "reqwest"] }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0.133", features = ["preserve_order"] }
serde_urlencoded = "0.7.1"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "signal"] }

[features]
default = ["sentry"]

[profile.release]
opt-level = 3
lto = true
