name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  BIN: rapla-ical-proxy

jobs:
  compile-binary:
    strategy:
      matrix:
        arch: [aarch64, x86_64]

    runs-on: ubuntu-latest

    env:
      RUST_TARGET: ${{ matrix.arch }}-unknown-linux-musl
      CARGO_TERM_COLOR: always

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Zig
        uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29 # v2.2.1

      - name: Set up Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Set up Rust toolchain
        run: rustup target add '${{ env.RUST_TARGET }}'

      - name: Set up cargo-zigbuild
        run: |
          gh release download \
            --repo rust-cross/cargo-zigbuild \
            -p cargo-zigbuild-x86_64-unknown-linux-musl.tar.xz \
            -O - | tar xJf - --strip-components=1 -C /usr/local/bin
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Build
        run: cargo zigbuild --locked --release --target '${{ env.RUST_TARGET }}'

      - name: Rename binary
        run: |
          mv \
            'target/${{ env.RUST_TARGET }}/release/${{ env.BIN }}' \
            'target/${{ env.RUST_TARGET }}/release/${{ env.BIN }}.${{ env.RUST_TARGET }}'

      - name: Upload artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: ${{ env.BIN }}.${{ env.RUST_TARGET }}
          path: target/${{ env.RUST_TARGET }}/release/${{ env.BIN }}.${{ env.RUST_TARGET }}

  container-image:
    needs: compile-binary
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download artifact
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          path: bin
          pattern: ${{ env.BIN }}.*
          merge-multiple: true

      - name: Rename & chmod binaries
        working-directory: bin
        run: |
          mv '${{ env.BIN }}'.aarch64* '${{ env.BIN }}.arm64'
          mv '${{ env.BIN }}'.x86_64* '${{ env.BIN }}.amd64'
          chmod +x '${{ env.BIN }}'.*

      - name: Extract container image metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,prefix=
            type=sha,prefix=,format=long
        id: meta

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log into registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name != 'pull_request'

      - name: Build and push container image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          file: Dockerfile
          context: bin
          platforms: linux/arm64,linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
