name: Deploy

on:
  workflow_dispatch:
    inputs:
      commit:
        type: string
        required: false

jobs:
  fly:
    runs-on: ubuntu-latest
    environment: production
    concurrency: deploy-group

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up flyctl
        uses: superfly/flyctl-actions/setup-flyctl@fc53c09e1bc3be6f54706524e3b82c4f462f77be # v1.5

      - name: flyctl deploy
        run: |
          flyctl deploy -i 'ghcr.io/${{ github.repository }}:${{ inputs.commit || github.sha }}'
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
